<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Result</title>
<link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
    th:href="@{/css/display_form.css}" />
</head>
<body>
    <h2>Result</h2>
    <table>
        <tbody>
            <tr>
                <td><strong>ID:</strong></td>
                <td><span th:text="${customer.customerId}"></span></td>
            </tr>
            <tr>
                <td><strong>Name:</strong></td>
                <td><span th:text="${customer.customerName}"></span></td>
            </tr>
            <tr>
                <td><strong>phone no:</strong></td>
                <td><span th:text="${customer.customerPhoneNumber}"></span></td>
            </tr>
            <tr>
                <td><strong>Email:</strong></td>
                <td><span th:text="${customer.customerEmail}"></span></td>
            </tr>
            <tr>
                <td><strong>Balance:</strong></td>
                <td><span th:text="${customer.customerCurrentBalance}"></span></td>
            </tr>
             <tr>
                <td><strong>Payment method:</strong></td>
                <td><span th:text="${customer.customerPaymentMethod}"></span></td>
            </tr>
           
            <tr>
                <td colspan="2">&nbsp;<a th:href="@{registration_form}"
                    class="btn btn-success"> <i class="fa fa-arrow-circle-o-left"></i>&nbsp;Add
                        new employee
                </a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>